{% extends "base.html.twig" %}

{% block topo %}
    <div class="topo">
        <img src="{{ asset('img/dio.png') }}" />
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"
{% endblock %}

{% block title %}Cadastro de usuários{% endblock %}

{# Formulário de cadastro de usuário #}
{% block body %}
    <form method="POST" action="{{ url('web_usuariosalvar') }}">
        <input type="text" name="nome" placeholder="Nome" />
        <input type="email" name="email" placeholder="E-mail" />

        <button type="submit">Salvar</button>
    </form>
{% endblock %}