{% extends "base.html.twig" %}

{% block topo %}
    <div class="topo">
        <img src="{{ asset('img/dio.png') }}" />
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"
{% endblock %}

{% block title %}Cadastro de usuários{% endblock %}

{% block body %}
   <p class="msgSucesso"><strong>{{ fulano }}</strong>, cadastrado com sucesso!<p>
{% endblock %}