{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"
{% endblock %}

{% block title %}Cadastro de usuários{% endblock %}

{% block body %}
   <p class="msgSucesso"><strong>{{ fulano }}</strong>, cadastrado com sucesso!<p>
   <a href="{{ url('web_usuarioindex') }}">Voltar</a>
{% endblock %}